page-warmup {
    .card{
        border-radius: 20px;
        background: #B1C2B3;
        z-index: 20;
    }
    .item {
        background: #B1C2B3;
    }
    h2, p, h1{
        color: white !important;
    }
    .big{
        border-radius: 30px;
        padding: 2%;
    }
    h1{
        text-align: left;
    }
    h4{
        margin: 20px;
        position: absolute;
        font-size: 1em;
        top: 10%;
        z-index: 10;
    }
}
