page-warmup {
    .card{
        border-radius: 20px;
        background: #B1C2B3;
    }
    .item {
        background: #B1C2B3;
    }
    h2, p{
        color: white !important;
    }
    .big{
        border-radius: 30px;
        padding: 2%;
    }
}
