page-welcome {
.scroll-content{
    background: linear-gradient(#778691, #C99792);
}

.button{ 
    font-size: 190%;
    margin: auto;
    font-weight: bold;
    width: 80%;
    height: 10%;
    }
#b1{
    max-width: 50%;
    margin: 24%
}

#k2{
    position:absolute; top: 50%; left: 12%;  
}

#k1{
    position:absolute; top: 62%; left: 12%;
}
button{
    box-shadow: 0 0 0 0 !important;
}
}
