page-search {
    ion-card.adv-map p {
        font-size: 0.7em !important;
      }
      
      button[fab].fab-map {
        top: calc(100% - 35px);
        z-index: 50;
      }
      
      .item-bold {
        font-weight: bold;
        text-align: right !important;
      }
      .card{
          border-radius: 40px;
          background: wheat;
          border-color: #C99792;
          border: 3px;
      }
      p{
          color: white !important;
      }
    .right{
      text-align: right !important;
    }
    .red{
      color: #C99792;
    }
    .content{
      background-color: #C99792;
    }
}
